
body{
  margin: 0;

  font-weight: 400;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
/*Navbar*/
.navbar{
  overflow: hidden;
  display: block;
  padding: 0rem !important;
}

li{
  display: inline;
}
ul li img{
  width: auto;
  height: 50px;
  margin-right: 5vh;
  float: left;

}
ul{
  margin-bottom: 0rem !important;
}

.menu{
  
    padding: 1px;
}

li{
    display: inline;
}
ul li img{
    width: auto;
    height: 50px;
    margin-right: 5vh;
    float: left;
    object-fit: cover;
}
.navbar a{
    
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
.navbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #63b308, #b3eb7f, #78d300);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
  }
  
  .navbar a:hover::before {
    transform: scaleX(1);
  }
  a:hover {
    transform-origin: center;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
  }
  .login{
    overflow: hidden;
    display: block;
    margin-left: 700px;
  }
  .login li{
      display: inline;
      float: right;
  }
  .login a{
    
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
}
.login a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b11616, #ee1515, #ad0202);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
  }
  
  .login a:hover::before {
    transform: scaleX(1);
  }
  a:hover {
    transform-origin: center;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
  
  }
  /*Navbar fin*/
  /*Panes*/
  .panaderia img{
    width: auto;
    height: 250px;
    object-fit: cover;
  }
  .panaderia{
    text-align: center;
    
}
.pan{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 100%;
    background-color: white;
    
}
  /*Panes fin*/
  /*Boton comprar*/
  .añadirBtn{
    font-size: 2vh;
    bottom: 5%;
    left: 50%;
    border-radius: 15vh;
    background-color: black;
    color: white;
    border: none;
    padding: 1.5vh;
    width: 20vh;
   
  }
  /*Boton comprar fin*/
  /*Carousel*/
 
  .owl-carousel img{
    /* width: auto;
    height: 600px; */
    width: 1024px;
    height: 550px;
    object-fit: cover;
    
    
  }
  /*Carousel fin*/
  /*Quienes somos*/

  .info {
    text-align: center;
    width: 60%;
    margin: 80px auto;
    padding: 30px;
}
.panaderia .card{
 
  color: rgb(0, 0, 0);
  height: 23rem;
  border-radius: 1rem ;
}

.card{
 
  color: rgb(0, 0, 0);
  height: 23rem;
 
}
.cardTitulo{
    display: block;
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 10px;
    text-decoration: none;
    padding-bottom: 10px;
    text-align: center;
}
.panaderia .card img{
    width: auto;
    height: 15rem;
    object-fit: cover;
    border: 2rem;
    border-radius: 1rem 1rem 0rem 0rem; 
}
.card img{
  width: auto;
  height: 15rem;
  object-fit: cover;
 
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  text-align: center;
  margin-bottom: 5rem;
  
}

/*Footer*/
.footer{
  margin-top: 10px;
  text-align: center;
  
}
.footer .grid-item{
background-color: #afaeab;
color: black;
}

.footer img{
width: auto;
height: 50px;
margin-right: 5vh;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  
}

/*Footer fin*/
/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr); 
  }
  .panaderia{
    grid-template-columns: repeat(2, 1fr); 
  }
  
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { 
    grid-template-columns: repeat(3, 1fr);
  }
  .panaderia{
    grid-template-columns: repeat(4, 1fr); 
  }
  
}

@media (max-width: 768px) {
    
  .menu{
      height: auto;
      border-bottom: 0px;
      display: block;
  }
  .login{
    height: auto;
    border-bottom: 0px;
    display: block;
  }
  .comentarios{
    display: none;
}

}
  

