  /* ========================================================= */

/* CARRITO DE LA COMPRA */

.grande{
    width: 500px;   
}
.pequeno{
    width: 200px;
}

.rowCarrito{
    content: ''; 
    display: table; 
    clear: both;

}
.columnCarrito1{
    float: left; 
    width: 20%; 
}
.columnCarrito2{
    float: left;
     width: 80%;
}
.columnCarrito2 button{
  font-size: 70%;
}
.columnCarritoButtons{

    float: left;
     width: 33.33%;
    
}

.c
  .demo {
   
    padding: 5px;
}

.demo th {
   
    padding: 5px;
    background: #F0F0F0;
}

.demo td {
    
    padding: 5px;
}

.columnCarrito {
    float: left;
    width: 33.33%;
    font-size: 150%;
  }
  
  .rowCarrito:after {
    content: "";
    display: table;
    clear: both;
  }

  #listaCarrito td{

    margin-top: 15px;
    margin-bottom:15px ;
  }

  /* ======================================================================== */
  /* Check Out  */
  .checkOut{
    padding:50px;
  }
.miniContainerCarrito .column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
  padding-bottom: 50px; 
}


.miniContainerCarrito .row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .miniContainerCarrito .column {
    width: 100%;
  }
}