body{
  margin: 0;
}
/*Navbar*/
.navbar{
  overflow: hidden;
  display: block;
  
  
}

li{
  display: inline;
}
ul li img{
  width: auto;
  height: 50px;
  margin-right: 5vh;
  float: left;
  object-fit: cover;
}
.navbar a{
  
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}


.card {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  /*padding: 1rem;*/
  height: 24rem;

}
.card .info{
padding: 1rem;
}
.card img{
  height: 19rem;
}


.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}