.secc{
    padding-right: 50px;
    padding-left: 50px ;
    
}
/* NAVEGADOR=============================================== */
.miniNav{
  position: fixed ;
  margin-top: -100px;
}
nav{
    background-color: white; 
    width: 100%; 
    display: flex;
    z-index: 1000;   
}

.navbar{
  position: fixed !important;
  top: 0;
  height: 75px;
  margin-left: -4%;
  margin-top: 17px;
}
nav a{
    display: flex;
    font-size:15px;
    color:rgb(255, 255, 255);
    padding:20px;
    text-decoration: none;   
}

nav li:hover {    
    border-bottom: 3px solid red;   
}

.borde{
  border-bottom: 3px solid red !important;   

}

nav li{
    display: flex; 
}
.ul-nav{  
    display: flex;  
}

.izquierda {
    margin-left: auto;  
    padding: 0%;
   }
.logoimg {
    margin-top: -20px;
    height: 100%;
    width: 60px;
    margin-right: 50px;
    padding: 0px;
    margin-bottom: 10px;
}

nav ul i{
    margin-top: 4%;
    margin-left: 2px;
}
#gsearch{
    margin-top: 3%;
    height: 50%;
    border-radius: 100px;
    border: 2px solid black;
    padding-right: 7px;
    padding-left: 7px;
}


#divSecundario{
    display: none;
}
/* =================TODO=================================== */
 .Todo{  
  height: auto;
  display: none;
}
 
.containerbottom{

  display: block !important;
}
@media (max-width: 60em) {
  .containerbottom {
      padding: 3rem;
  }
} 

.grid {
  display: grid;
  width: 100%;
  grid-gap: 6rem 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  
}

@media (max-width: 60em) {
  .grid {
      grid-gap: 3rem;
  }
}

.grid__item {
  width: 500px;
  background-color: #fff;  
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  margin: auto;
  padding: 5px;
}

.grid__item h1,.card_text{

  color: black;
  font-size: medium;
  font-weight: bold;
}
.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card{
  border: none !important;
  border-radius: none !important;
}
.card__img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
  background-color: #f6f6f6;
  border:4px dashed black;
}

.card__header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;

}

.card__text {  
  letter-spacing: .1rem;
  line-height: 1.7;
  color: #3d3d3d;
  
}

.card__content2{

  display: flex;
  justify-content: space-between;
  height: 30px;
}



.card__btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: .4rem;
  transition: 0.2s;
  cursor: pointer;
}

.card__btn__Del {
  display: block;
  width:20%;
  margin-left: 40%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;    
  border: none;    
  background-color: none !important;
}
.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card__btn:hover,
.card__btn:active {
  background-color: #dce4ff;
}

.card__btn:hover span,
.card__btn:active span {
  margin-left: 1.5rem;
}

.Todo .botones{
  margin-top: 20px;
}

.Todo .botones:after{
  content: "";
  display: table;
  clear: both;
}

.half{
  float: left; 
      width: 50%;  
}




/* section  */
.divPrincipal, .columnNew, .columnTrending, .columnMas, .move{

  position: relative;
}

/* random=================================================== */
.Random{
    margin-bottom: 150px;
}
.divPrincipal{
    margin-top: 95px;
    background-color: white;
    border: 3px dashed black;
    width: 80%;
    height: 400px;
    background-image: url(https://images.footlocker.com/is/image/FLEU/314205770804_01?wid=630&hei=630&fmt=png-alpha);
    background-position: 130px 65%;
    background-repeat: no-repeat;
    padding-bottom: 35px;
}

.divPrincipal h2{
  margin-left: 85%;
  margin-top: 5vh;
  font-weight: bolder;
  
}

.comprarBotonPrincipal{
  bottom: 20%;
  left: 70%;    
  background-color: white;
  border: 2px solid black;
  border-bottom: 3px solid black;
  color: black;
  padding: 13px;
  width: 150px;
  position: absolute;
  font-weight: bold;
}

.comprarBotonPrincipal:hover{
    bottom: 20%;
    left: 70%;    
    background-color: white;
    border-bottom: 4px solid black;
    color: black;
    font-weight: bold;
    padding: 13px;
    width: 150px;
    position: absolute;
}
 
.comprarBotonPrincipal:hover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom : 2px solid red;
}

.comprarBoton{
  margin-right: 30%;    
  background-color: white;
  border: 2px solid black;
  border-bottom: 3px solid black;
  color: black;
  padding: 13px;
  width: 150px;
  position: absolute;
  font-weight: bold;
}

.comprarBoton:hover{
  margin-right: 30%;     
  background-color: white;
  border-bottom: 4px solid black;
  color: black;
  font-weight: bold;
  padding: 13px;
  width: 150px;
  position: absolute;
}

.comprarBoton:hover::before {
content: '';
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
border-bottom : 2px solid red;
}



.comprarBoton2{
  bottom: 20%;
  left: 55%;    
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 13px;
  width: 150px;
  position: absolute;
  font-weight: bold;
}

.comprarBoton2:hover{
  bottom: 20%;
  left: 55%;    
  background-color: white;
    border-bottom: 4px solid black;
    color: black;
    font-weight: bold;
    padding: 13px;
    width: 150px;
    position: absolute;
}
.comprarBotonArt{
    bottom: 20%;
    left: 33.33%;
    border-radius: 100px;
    background-color: black;
    color: white;
    border: none;
    padding: 13px;
    width: 150px;
    position: absolute;
}

.btnInteres{
  top:85%;
  left: 30%;    
  background-color: white;
  border: 2px solid black;
  border-bottom: 3px solid black;
  color: black;
  padding: 13px;
  width: 150px;
  position: absolute;
  font-weight: bold;
}

.btnInteres:hover{
  top:85%;
  left: 30%;    
  background-color: white;
  border-bottom: 4px solid black;
  color: black;
  font-weight: bold;
  padding: 13px;
  width: 150px;
  position: absolute;
}

.btnInteres:hover::before {
content: '';
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
border-bottom : 2px solid red;
}

/* New==================================================== */
.New{
    margin-bottom: 150px;

}

.columnNew {
    float: left;
    width: 50%;
    padding: 10px;
    height: 700px;
  }
  
  .columnNew1, .columnNew2{

    background-repeat: no-repeat;
    background-size: 80%;
    
  }

  .columnNew1{
    background-image: url(../img/footlocker/adidasNmd1.jpg);
    background-position: right center;
    }

  .columnNew2{
    background-image: url(../img/footlocker/adidasNmd2.jpg);   
    background-position: left center;
    }
  
  .rowNew:after {
    content: "";
    display: table;
    clear: both;
  }

/* Trending====================================================== */

  .Trending{

    margin-bottom: 150px;
  }
  .columnTrending{

    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 80%;
  }

  .columnTrending {
    float: left;
    width: 48%;
    margin: 1%;
    padding: 10px;
    height: 700px;
  }
  
  
  .rowTrending:after {
    content: "";
    display: table;
    clear: both;
  }

/* Mas====================================================== */
.Mas{

    margin-bottom: 150px;
}
.columnMas {
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
    float: left;
    margin: 1%;
    width: 30%;
    padding: 10px;
    height: 600px; 

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
  }
  
  
  .rowMas:after {
    content: "";
    display: table;
    clear: both;
  }
/* ===============secundario=========================== */

  .box{
    height: 400px;
    margin-bottom: 130px;
    /* overflow-x: scroll;
    overflow-y: hidden; */
    overflow: hidden;
    position: static;
    position: relative;
  }

.underBox1, .underBox2, .underBox3{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 400px;
    margin-left: 0px;
    
}
  .move{    
    background-color: #f6f6f6;
    height: 400px;
    width: 32vw;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90% !important;
    /* border: 0.1px solid black; */
  }

  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius :10px;
  }
  
  .move:nth-child(even){

    background-color: white;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .move:nth-child(odd){
    background-repeat: no-repeat;
    background-size: auto;
  }


  .Botones{
    position: absolute;
    
    display: flex; justify-content: space-between;
    width: 93.5%;
    

  }
  .izquierdaBtnMove{
    background-color: purple;
    width: 100px;
    height: 400px;
    opacity: 30%;
    z-index: 100;
  }

  .derechaBtnMove{
    background-color:palegreen;    
    width: 100px;
    height: 400px;
    opacity: 30%;
    z-index: 100;
  }
  .derechaBtnMove:hover{
    opacity: 90%;
  }
  .izquierdaBtnMove:hover{
    opacity: 90%;
  }


 .secundario .box  .comprarBoton,.comprarBotonn{
    margin-top: 60%;
    margin-right: 50%;
    border-radius: 100px;
    background-color: black;
    color: white;
    border: none;
    padding: 13px;
    width: 150px;
}
/* Div de comprar===================================================== */

.comprar{
  padding-top: 60px;
  padding-left: 90px;
  padding-right: 90px;
  display: none;
}
.boxBuy{
 width: auto;
 height: 70%;
}

.boxBuy:after{
  content: "";
  display: table;
  clear: both;
}

.boxImg, .boxData{
  float: left;  
  padding: 10px;
  height: 100%;
}
.boxImg{
  width: 70%; 
  background-color:#f6f6f6;
  background-position: center center;
  background-repeat: no-repeat;
}

.boxData{
  width: 30%;
  padding-left: 30px;
}

.añadirBtn{
  margin-top: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  width: 70%;
  height: 50px;
}
/* ==============footer=================== */
#body
#body #container {
  width: 100%;
  height: 330px;
  
}

#body #part1 {
  width: 100%;
  height: 280px;
  background-color: #292929
}

#body #part2 {
  width: 100%;
  height: 50px;
  background-color: black;
  position: relative;
  top: -15px
}

#body #companyinfo {
  width: 14%;
  height: 280px;
  position: relative;
  left: 8%;
  top: 30px
}

#body #sitelink {
  font-size: 35px;
  color: #f44336
}

#body #sitelink:hover {
  color: #e65100
}

#body #title {
  color: gray;
  position: relative;
  top: 0px;
  font-size: 14.1px
}

#body #detail {
  color: #aaa7a7;
  font-size: 16px
}

#body #explore {
  width: 14%;
  height: 280px;
  position: relative;
  top: -235px;
  left: 29%
}

#body #txt1,
#body #txt2,
#body #txt3,
#body #txt4,
#body #txt5 {
  color: white;
  font-size: 20px
}

#body .link {
  display: flex;
  width: 90px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px
}

#body .link:hover,
#body .link1:hover {
  color: #e65100
}

#body #visit {
  width: 14%;
  height: 280px;
  position: relative;
  top: -515px;
  left: 42%
}

#body .text {
  color: #aaa7a7;
  font-size: 14px;
  margin-top: -10px
}

#body #legal {
  width: 14%;
  height: 280px;
  position: relative;
  top: -800px;
  left: 59.5%
}

#body .link1 {
  display: flex;
  width: 150px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px;
  margin-top: 7px
}

#body #subscribe {
  position: relative;
  top: -1080px;
  left: 78%;
  width: 14%;
  height: 280px
}

#body #email {
  color: white;
  position: relative;
  top: -20px
}

#body .btn {
  position: relative;
  top: -10px
}

#body #txt5 {
  position: relative;
  top: 0px
}

#body .social {
  position: relative;
  top: -5px;
  margin-right: 10px;
  color: white;
  cursor: pointer
}

#body .fa-facebook-square:hover {
  color: #3B579D
}

#body .fa-linkedin:hover {
  color: #007BB6
}

#body .fa-twitter-square:hover {
  color: #2CAAE1
}

#body #txt6 {
  color: white;
  position: relative;
  top: 13px;
  left: 8%;
  width: 80%;
  color: #aaa7a7
}

#body .material-icons {
  position: relative;
  top: 3px
}

@media only screen and (max-width:1000px) {
  #body #companyinfo {
      width: 20%
  }

  #body #sitelink {
      font-size: 30px
  }

  #body #txt5,
  #body #txt4 {
      font-size: 17px
  }

  #body #txt5,
  #body .social {
      position: relative;
      top: -5px
  }
}

@media only screen and (max-width:850px) {
  #body #companyinfo {
      position: relative;
      left: 3%
  }

  #body #txt6 {
      position: relative;
      left: 3%
  }

  #body #txt1,
  #body #txt2,
  #body #txt3,
  #body #txt4,
  #body #txt5 {
      font-size: 15px
  }

  #body #explore {
      position: relative;
      top: -240px;
      left: 26%
  }

  #body #sitelink {
      font-size: 25px
  }

  #body #detail {
      font-size: 13px
  }

  #body .link {
      width: 60px
  }

  #body #visit {
      position: relative;
      top: -520px;
      left: 37%
  }

  #body .text {
      font-size: 13px
  }

  #body #legal {
      position: relative;
      top: -800px;
      left: 54%
  }

  #body #subscribe {
      position: relative;
      top: -1080px;
      left: 76%;
      width: 20%
  }

  #body #txt5,
  #body .social {
      position: relative;
      left: -110%;
      top: px
  }

  #body #email,
  #body .btn {
      position: relative;
      top: 0px
  }

  #body #part1 {
      height: 250px
  }
}

/* RESPONSIVE=============================================== */
@media (max-width: 1000px) {

  .columnNew1{
    width: 100%;
    background-position: center center;

  }
  .columnNew1 button{
    left: 60%;
    bottom: 8%;
  }
  .columnNew1 button:hover{
    left: 60%;
    bottom: 8%;
  }
  .columnNew2{
    display: none;
  }
  .columnTrending{width: 100%;
  }
  .principal .divPrincipal h2{
    margin-left: 50%;
  }
  .principal .divPrincipal .comprarBotonPrincipal, .comprarBotonPrincipal:hover {
    left: 50%;
  }

  .principal .divPrincipal{    
    width: 100% !important;
    background-position: 50% 50% !important;
    background-size:  75% !important;
    
  }
}
@media (max-width: 1200px) {

  .comprar .boxImg{
    width: 100%;
    background-size:  100%;
    margin-bottom: -200px;
  }

  .boxData{
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1100px) {
  #divComprar .Mas .columnMas{
    width: 100%;
  }
  }