.miniNav{
    background-color: gainsboro;
    width: 100%;
    z-index: 1000;
    height: 24px;
}

.miniNav2{
  
    background-color: gainsboro;       
    position: absolute; /*or fixed*/
    right: 0px;
    z-index: 1000;
}
.miniNav p{
    margin-right: 30px;
    display: inline;
   
}

.desplegable{
    position: absolute; /*or fixed*/
    right: 0px;
    width: 360px;
    height: auto;
    z-index: 999;
    background-color: gainsboro;
    display: none;
    padding-top: 50px;
    padding-left: 20px;
}

.desplegable input{

    border-radius: 50px;
 
}
.desplegable label{
    width: 100px;
}

input[type=text], input[type=password]{

    border: 2px solid black;
    margin-right: 20px;
}

.registrar{

    display: none;
}

#logout{
    display: none;
    
}

.desplegable .boton{
    display: none;
    height: 50px;
    width: 100%;
}